@import "./bootstrap/bootstrap.scss";
@import "./bootstrap-colorpicker.css";
// @import "./open-iconic-bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');

//variables
$black: #010202;
$gray-darkest: #0a0b0c;
$gray-dark: #222629;
$gray-light: #EAEAEA;
$gray: #86888A;

$greenish: #091a11;
$bluish: #0e122b;

$gold: #AD947F;
$gold-darker: #8e793e;
//mixins
@mixin textGlitch($name, $intensity, $pausedframes, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height, $offset) {
  
    color: $textColor;
    position: relative;
    $steps: $intensity; 
    
    // Ensure the @keyframes are generated at the root level
    @at-root {
      // We need two different ones
      @for $i from 1 through 2 {
        @keyframes #{$name}-anim-#{$i} {
            //do
          @for $i from 0 through $steps {
            #{percentage($i*(1/($steps + $pausedframes)))} {
              clip: rect(
                random($height)+px,
                $width+px,
                random($height)+px,
                0
              );
            }
          }
          //wait
          @for $i from $steps through ($pausedframes + $steps) {
            #{percentage($i*(1/($steps + $pausedframes)))} {
              clip: rect(
                0,
                0,
                0,
                0
              );
            }
          }
        }
      }
    }
    &:before,
    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: $textColor;
      background: $background;
      clip: rect(0, 0, 0, 0); 
      overflow: hidden;
    }
    &:after {
      left: $offset + px;
      text-shadow: -1px 0 $highlightColor1;
      animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }
    &:before {
      left: -$offset + px;
      text-shadow: 1px 0 $highlightColor2; 
      animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }
    
}
%unselectable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

//CSS
.font-gold {
    color: $gold;
}
.font-gold-darker {
    color: $gold-darker;
}
.font-gray {
    color: $gray;
}
.font-gray-light {
    color: $gray-light;
}
.font-gray-dark {
    color: $gray-dark;
}
.bg-dark {
    background-color: $gray-dark !important;
}
.bg-darkest {
    background-color: $gray-darkest !important;
}
.bg-black{
    background-color: $black !important;
}
.bg-greenish{
    background-color: $greenish !important;
}
.bg-bluish{
    background-color: $bluish !important;
}

//own css
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Roboto";
    font-size: 16px;
    background-color: $black;
    color: $gray-light;
}
.noscroll {
    overflow: hidden;   
}
.noscroll-fixed {
    @extend .noscroll;
    position: fixed;
    top: 0;
}
a {
    color: $gray-light;
    text-decoration: underline;
    &:hover {
        color: $gray-light;
        text-decoration: none;
    }
}

//universal height sets
@for $i from 0 to 5 {
    .height-#{$i * 25} {
        height: 25% * $i;
    }
} 
@for $i from 0 to 5 {
    .height-min-#{$i * 25} {
        min-height: 25% * $i;
    }
} 
@for $i from 0 to 5 {
    .width-#{$i * 25} {
        width: 25% * $i;
    }
} 
@for $i from 0 to 5 {
    .width-min-#{$i * 25} {
        min-width: 25% * $i;
    }
} 
.minheight-100vh {
    min-height: 100vh;
}

.children-text-center > * {
    @extend .text-center;
}

.common-linkbutton {
    padding: 0.5rem 0.75rem;
    border: 1px solid $gray-light;
    color: $gray-light;
    text-decoration: none !important;
    background-color: transparent;
    transition: all 0.30s ease-in-out;
    &:hover {
        background: $gray-light;
        color: $gray-darkest;
    }
}
.app {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
}
.section-zone {
    border-bottom: 2px solid $gray-dark;
    .container-fluid {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @include media-breakpoint-up(md) {
        margin-left: 66px;
    }
}
.navbar {
    @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar-brand {
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $gray-light;

    width: 40px;
    height: 40px;
}
.navbar-dark {
    border-bottom: 1px solid $gray;
    @include media-breakpoint-up(md) {
        border-bottom: none;
        border-right: 1px solid $gray;
    }
}
.nav-link {
    cursor: pointer;
    transition: all 0.30s ease-in-out;
}
.navbar-brand {
    @include media-breakpoint-up(md) {
        margin: 0;
    }
}
.navbar-nav {
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column !important;
        .splitter {
            height: 1px;
            width: 24px;
        }
    }
}
.nav-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }

    .nav-icon {
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .fas {
            padding-bottom: 4px;
        }

        font-size: 24px;
        margin: 16px;

        width: 40px;
        height: 40px;

    }
}
.splitter {
    height: 24px;
    width: 1px;
    background-color: $gray;
    display: block;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    @include media-breakpoint-up(md) {
        width: auto;
        flex-direction: column;
        position: fixed;
        right: auto;
        min-height: 100vh;
    }
}
.teaser {
    //display: flex;
    //align-items: center;
    height: 400px;
    min-height: 100vh;
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;

    //border-bottom: 1px solid $gray;
    &.padded {
        @include media-breakpoint-up(md) {
            margin-left: 66px;
        }
    }
    &.in-app {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
.canvas {
    height: 400px;
    min-height: 100vh;
    width: 100%;
    > canvas {
        height: 400px;
        min-height: 100vh;
        width: 100%;
    }
}
.teaser-text {
    // transform: rotate(90deg);
    // white-space: nowrap;
    // position: absolute !important;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-90%);

    margin-bottom: 100px;

    @include media-breakpoint-up(md) {
        font-size: 6rem;
    }
}
 .blackboard {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: $black;
}

.cursor::after {
    content: "";
    animation: 1s blink step-end infinite;
    display: inline-block;
    height: 2.2rem;
    width: 1.25rem;
    background-color: $gray-light;
    transform: translateY(10%);
    @include media-breakpoint-up(md) {
        height: 5rem;
        width: 3rem;
    }
    animation: 1.2s cursor-blink infinite step-end;
}
//mouse scroll
.scroll-downs {
    position: absolute;
    bottom: 32px;
    @include media-breakpoint-up(md) {
        bottom: 44px;
    }
    @include media-breakpoint-up(lg) {
        bottom: 24px;
    }
    margin: auto;
    width :34px;
    height: 55px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        .mousey {
            background-color: $gray-light;
        }
        .scroller {
            background-color: $black;
        }
    }
  }
  .mousey {
    width: 3px;
    padding: 6px 10px;
    height: 25px;
    border: 2px solid $gray-light;;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
    transition: all 0.30s ease-in-out;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: white;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
    transition: all 0.30s ease-in-out;
  }
.glitchy-text {
    background-color: $black;

    @include textGlitch("glitchy-text", 10, 0, $gray-light, $black, red, blue, 600, 115,2);
}
.particle-config {
    display: block;
    position: absolute;
    font-weight: 200;
    max-width: 100%;

    width: 100%;
    bottom: 0;
    right: 0;
    background-color: rgba(1, 2, 2, 0.8);
    
    @include media-breakpoint-up(md) {
        width: 400px;
        bottom:  16px;
        right:  16px;
        background-color: transparent;
    }

    h2 {
        font-weight: 200;
        font-size: 24px;
        margin: 0;
        text-align: right;
        margin-left: auto;
        @include media-breakpoint-up(md) {
            max-width: none;
            font-size: 32px;
        }
    }
    label, span {
        @extend %unselectable;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            padding: 0;
            margin: 0;
            padding-bottom: 4px;
            padding-top: 4px;
            padding-left: 0.5em;
        }
        ul {
            margin-top: 4px;
            padding-left: 16px;
        }
    }
    .custom-control-label {
        transition: all 0.15s ease-in-out;
        &::before, &::after {
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            background-color: transparent;
            border: 1px solid $gray-light;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
        }
        &:hover {
            &::before, &::after {
                border-width: 3px;
            }
        }
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: transparent;
    }
    .custom-select {
        width: auto;
    }
    .custom-control-range {
        -webkit-appearance: none; 
        background: transparent; 
        &:focus {
            outline: none; 
        }
        //thumb
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            background: $gray-light;
            border: 3px solid $gray-light;
            border-radius: 50%;
            margin-top: -6px;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            width: 16px;
            height: 16px;
            background: $gray-light;
            border: 3px solid $gray-light;
            border-radius: 50%;
            cursor: pointer;
        }
        &::-ms-thumb {
            width: 16px;
            height: 16px;
            background: $gray-light;
            border: 3px solid $gray-light;
            border-radius: 50%;
            cursor: pointer;
        }

        //line
        &::-webkit-slider-runnable-track  {
            height: 2px;
            background: $gray-light;
            border-radius: 2px;
        }
        &::-moz-range-track {
            height: 2px;
            background: $gray-light;
            border-radius: 2px;
        }
        &::-moz-range-track {
            height: 2px;
            background: $gray-light;
            border-radius: 2px;
        }
        &::-ms-track{
            height: 2px;
            background: $gray-light;
            border-radius: 2px;
        }
    }
    .custom-control {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        input, select {
            order: 2;
            margin: 0;
            padding: 0;
            margin-right: 8px;
            margin-left: auto;
            height: auto;
            line-height: inherit;
            background-color: transparent;
            border-radius: 3px;
            border: 1px solid $gray-light;
            color: $gray-light;
            background-image: none;
        }
        select {
            option {
                background-color: $black;
                color: white;
                border: 1px solid $gray-light;
                &:hover {
                    color: $black;
                    background-color: $gray-light;
                }
            }
        }
        label {
            order: 1;
            margin: 0;
            margin: 0;
            margin-right: 8px;
        }
        .value {
            order: 3;
            margin: 0;
            margin-right: 8px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            vertical-align: middle;
            text-align: center;
        }
        ul {
            order: 4;
        }
    }
    .custom-picker {
        position: relative;
        input {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            cursor: pointer;
            margin: 0;
            opacity: 0;
        }
        .value {
            border: 1px solid $gray-light;
            border-radius: 3px;
            margin-left: auto;
            cursor: pointer;
        }
    }
    .is-dropdown {
        > span {
            transition: all 0.30s ease-in-out;
            cursor: pointer;
            padding: .25em .5em;
            margin-left: -.5em;
            &:hover {
                background-color: $gray-light;
                color: black;
            }
        }
        > ul {
            display: none;
        }
    }
    > h2 {
        margin-right: 4px;
    }
    > ul {
        display: none;
    }
}
.slide-hover {
    position: relative;
    padding-right: 4px;
    cursor: pointer;
    .inverse {
        display: block;
        position: absolute;
        height: 100%;
        width: 0%;
        background-color: $gray-light;
        color: black;
        overflow: hidden;
        padding-right: 0;
        direction: rtl;
    }
    .inverse {
        right: 0;
        bottom: 0;
        top: 0;
        padding-right: 0;
    }


    &.is-open {
        .inverse {
            width: 100%;
            padding-right: 4px;
        }
    }
}
.topper {
    z-index: 30;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $gray-dark;
    top: 40px;
    right: -40px;

    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0.7;

    transition: 100ms all ease;

    &:hover, &:focus {
        opacity: 0.9;
    }

    .fas {
        font-size: 1rem;
        color: white;
        &::before {
            //padding-left: 0.25rem;
            padding-bottom: 0.5rem;
        }
    }
}
.soundvisual {
    position: absolute;
    z-index: 20;

    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
        top: auto;
        right: auto;
        bottom: 24px;
        left: 32px;
        transform: none;
    }

    min-height: 100px;
    min-width: 200px;
    .canvas {
        height: auto;
        min-height: auto;
        width: auto;
        position: relative;
        > canvas {
            height: auto;
            min-height: auto;
            width: auto;
        }
        width: 100%;
        border-left: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        
        &::after, &::before {
            position: absolute;
            display: block;
            content: ""; 
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $gray-light;
        }

        &::before {
            top: -3px;
            left: -4px;
        }
        &::after {
            bottom: -4px;
            right: -4px;
        }

        > canvas {
            margin-left: 6px;
            margin-top: 6px;
            margin-right: 6px;
            width: 200px;
        }
    }
    .controls {
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: center;
        .playPause {
            display: block;
            box-sizing: border-box;
            transition: 100ms all ease;
            cursor: pointer;
            margin-right: 8px;

            width: 12px;
            height: 16px;

            border-right: 4px solid $gray-light;
            border-left: 4px solid $gray-light;
          
            &.paused {
                border-top: 8px solid transparent;
                border-left: 12px solid $gray-light;
                border-bottom: 8px solid transparent;
                border-right: none;
            }
            &.disabled {
                pointer-events: none;
                visibility: hidden;
            }

        }
        .volume {
            padding-bottom: 8px;
            input {
                -webkit-appearance: none; 
                background: transparent; 
                &:focus {
                    outline: none; 
                }
                //thumb
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 16px;
                    height: 16px;
                    background: $gray-light;
                    border: 3px solid $gray-light;
                    border-radius: 50%;
                    margin-top: -6px;
                    cursor: pointer;
                }
                &::-moz-range-thumb {
                    width: 16px;
                    height: 16px;
                    background: $gray-light;
                    border: 3px solid $gray-light;
                    border-radius: 50%;
                    cursor: pointer;
                }
                &::-ms-thumb {
                    width: 16px;
                    height: 16px;
                    background: $gray-light;
                    border: 3px solid $gray-light;
                    border-radius: 50%;
                    cursor: pointer;
                }

                //line
                &::-webkit-slider-runnable-track  {
                    height: 2px;
                    background: $gray-light;
                    border-radius: 2px;
                }
                &::-moz-range-track {
                    height: 2px;
                    background: $gray-light;
                    border-radius: 2px;
                }
                &::-moz-range-track {
                    height: 2px;
                    background: $gray-light;
                    border-radius: 2px;
                }
                &::-ms-track{
                    height: 2px;
                    background: $gray-light;
                    border-radius: 2px;
                }
            }
        }
        .speaker {
            height: 30px;
            width: 30px;
            position: relative;
            overflow: hidden;
            display: inline-block;
            margin-left: 8px;
            cursor: pointer;
            transform: scale(0.8);
            span {
                display: block;
                width: 8px;
                height: 8px;
                background: $gray-light;
                margin: 11px 0 0 2px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent $gray-light transparent transparent;
                    border-width: 10px 14px 10px 15px;
                    left: -13px;
                    top: 5px;
                    box-sizing: content-box;
                }
        
                &:before {
                    transform: rotate(45deg);
                    display: block;
                    border-radius: 0 50px 0 0;
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-style: double;
                    border-color: $gray-light;
                    border-width: 7px 7px 0 0;
                    left: 18px;
                    top: 9px;
                    transition: all 0.2s ease-out;
                    box-sizing: content-box;
                }
            }
            &:hover {
                span:before {
                    transform: scale(.8) translate(-3px, 0) rotate(42deg);		
                }
            }
            
            &.mute {
                span:before {
                    transform: scale(.5) translate(-15px, 0) rotate(36deg);
                    opacity: 0;
                }                
            }
        }
    }
    .canvas {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}
.headline {
    font-size: 3rem;
    font-weight: 300;
    @include media-breakpoint-up(md) {
        font-size: 4rem;
    }

}

.ruler {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

    max-height: 800px;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;

    @include media-breakpoint-up(lg) {
        padding-top: 24px;
        margin-bottom: 80px;

        flex-direction: row;
        align-items: baseline;

        max-height: initial;
        height: initial;
        max-width: 800px;
        width: 100%;
        transform: none;
        position: static;
    }
    span {
        background-color: $gray-light;
        display: block;
        width: 32px;
        height: 16px;
        border-radius: 8px;
        
        @include media-breakpoint-up(lg) {
            width: 16px;
            height: 32px;
        }
    }
}

.blocks {
    @include media-breakpoint-up(lg) {
        margin-top: 40px;
        margin-bottom: 180px;
    }
    .block {
        margin: 8px;
        @include media-breakpoint-up(lg) {
            margin: 24px;
        }
    }
}
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    @include media-breakpoint-up(md) {
        max-width: 340px;
    }
    padding: 16px;
    &.first {
        max-width: 200px;
    }
    .logo {
        @extend %unselectable;
        img, svg {
            max-width: 100%;
        }
        &.asp {
            max-width: 120px;
        }
        &.kentico {
            max-width: 120px;
        }
        &.sql {
            max-width: 70px;
        }
        &.node {
            max-width: 120px;
        }
        &.webpack {
            max-width: 60px;
        } 
        &.react {
            max-width: 60px;
        }
        &.html {
            max-width: 120px;
        }
        &.js {
            max-width: 60px;
        }
        &.sass {
            max-width: 70px;
        }
        &.jquery {
            max-width: 100px;
        }
        @include media-breakpoint-up(md) {
            &.asp {
                max-width: 180px;
            }
            &.kentico {
                max-width: 180px;
            }
            &.sql {
                max-width: 100px;
            }
            &.node {
                max-width: 160px;
            }
            &.webpack {
                max-width: 80px;
            } 
            &.react {
                max-width: 80px;
            }
            &.html {
                max-width: 180px;
            }
            &.js {
                max-width: 70px;
            }
            &.sass {
                max-width: 90px;
            }
            &.jquery {
                max-width: 200px;
            }
        }
    }
}

.fancy-hover {
    position:relative;
    text-align: center;
    transition: 0.5s;
    cursor: default;
    border: 2px solid $gray-dark;
    -webkit-transition:0.5s;

    &:hover, &.open {
        border: 2px solid $gray-dark;
    }

    &.transparent {
        border: 2px solid transparent;
    }
    &.transparent:hover, &.transparent.open {
        border: 2px solid transparent;
    }
    &::before, &::after {
        width: 100%;
        height:100%;
        z-index: 3;
        content:'';
        position: absolute;
        top:0;
        left:0;
        box-sizing: border-box;
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: 0.5s;
    }

    &.slide {
        &::before {
            border-bottom: 3px solid $gray-light;
            border-left: 3px solid $gray-light;
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }
          
        &::after {
        border-top: 3px solid $gray-light;
        border-right: 3px solid $gray-light;
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
    }

    &.snap::before {
        border-bottom: 3px solid $gray-light;
        border-left: 3px solid $gray-light;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    &.snap::after {
        border-top: 3px solid $gray-light;
        border-right: 3px solid $gray-light;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    &.line:hover, &.line.open {
        border: 2px solid transparent;
    }

    &.line::before {
        border-bottom: 3px solid $gray-light;
        border-left: 0;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    &.line::after {
        border-top: 0;
        border-right: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    
    &:hover::after, &.open::after, &:hover::before, &.open::before {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.pipeline {
    position: absolute;
    
    span {
        display: block;
        background-color: $gray-dark;
        &:nth-of-type(1) {
            width: 2px;
            height: 50%;
            margin-right: auto;
        }
        &:nth-of-type(2) {
            width: 100%;
            height: 2px;
        }
        &:nth-of-type(3) {
            width: 2px;
            height: 50%;
            margin-left: auto;
        }
    }
    &.reversed {
        span {
            &:nth-of-type(1) {
                width: 2px;
                height: 50%;
                margin-right: initial;
                margin-left: auto;
            }
            &:nth-of-type(3) {
                width: 2px;
                height: 50%;
                margin-left: initial;
                margin-right: auto;
            }
        }
    }
}
.info-block {
    .img {
        max-width: 400px;
        @include media-breakpoint-up(md) {
            padding: 15px;
            flex: 0 1 400px;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .content {
        @include media-breakpoint-up(md) {
            padding: 15px;
            flex: 0 1 100%;
        }
    }
}

.mail, .phone {
    i {
        margin-right: 8px;
        width: 16px;
    }
    a {
        color: $gray-light !important;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        display: inline-block;
        cursor: pointer;
    }
    font-weight: 300;
}
.social-zone {
    .social-bar {
        > a {
            display: inline-block;
            margin: 4px;
            width: 40px;
            height: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $gray-light !important;
            text-decoration: none;
            cursor: pointer;
            i {
                font-size: 24px;
            }
        }
    }
}
.unselectable {
    @extend %unselectable;
}





//animations
@keyframes cursor-blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(8px); opacity: 0;}
  }
